/** admin screens **/
.cache-clear-notice {
  padding: 10px; }
  .cache-clear-notice.true {
    border: 1px solid #4F8A10; }
  .cache-clear-notice.false {
    border: 1px solid #D8000C; }

@media (max-width: 783px) {
  .form-table > tbody > tr.acf-tab-wrap .acf-tab-group {
    padding: 0 5px !important; } }

@media (max-width: 400px) {
  .form-table > tbody > tr.acf-tab-wrap .acf-tab-group li {
    width: 100%; } }
