#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
  background-color: #d11e23; }
  #adminmenu a:hover, #adminmenu .wp-submenu a:hover, #adminmenuback a:hover, #adminmenuwrap a:hover {
    color: #fff; }
  #adminmenu .wp-submenu-head,
  #adminmenu .wp-menu-arrow,
  #adminmenu .wp-menu-arrow div,
  #adminmenu li.current a.menu-top,
  #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
  #adminmenu .folded li.current.menu-top,
  #adminmenu .folded li.wp-has-current-submenu, #adminmenu .wp-submenu .wp-submenu-head,
  #adminmenu .wp-submenu .wp-menu-arrow,
  #adminmenu .wp-submenu .wp-menu-arrow div,
  #adminmenu .wp-submenu li.current a.menu-top,
  #adminmenu .wp-submenu li.wp-has-current-submenu a.wp-has-current-submenu,
  #adminmenu .wp-submenu .folded li.current.menu-top,
  #adminmenu .wp-submenu .folded li.wp-has-current-submenu, #adminmenuback .wp-submenu-head,
  #adminmenuback .wp-menu-arrow,
  #adminmenuback .wp-menu-arrow div,
  #adminmenuback li.current a.menu-top,
  #adminmenuback li.wp-has-current-submenu a.wp-has-current-submenu,
  #adminmenuback .folded li.current.menu-top,
  #adminmenuback .folded li.wp-has-current-submenu, #adminmenuwrap .wp-submenu-head,
  #adminmenuwrap .wp-menu-arrow,
  #adminmenuwrap .wp-menu-arrow div,
  #adminmenuwrap li.current a.menu-top,
  #adminmenuwrap li.wp-has-current-submenu a.wp-has-current-submenu,
  #adminmenuwrap .folded li.current.menu-top,
  #adminmenuwrap .folded li.wp-has-current-submenu {
    background-color: #2c2d2f; }

#collapse-button {
  color: #fff; }
  #collapse-button:hover {
    color: #fff; }

.wp-core-ui .button-primary {
  background-color: #d11e23;
  color: #ffffff;
  box-shadow: none;
  text-shadow: none;
  border-color: #d11e23;
  transition: all 1s; }
  .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:active, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary.active, .wp-core-ui .button-primary.disabled {
    border-color: #d11e23 !important;
    background-color: rgba(209, 30, 35, 0.7) !important;
    box-shadow: none;
    text-shadow: none; }
  .wp-core-ui .button-primary.disabled {
    color: white !important; }

[data-name='fc_contests_outside_mto'] .acf-row-handle,
[data-name='lc_contests_outside_mto'] .acf-row-handle {
  display: none; }

.member-admin-bar {
  text-align: right;
  padding: 0 15px; }
  @media screen and (max-width: 600px) {
    .member-admin-bar {
      padding-top: 15px; } }

.btn-secondary {
  background-color: #d11e23;
  color: #ffffff;
  box-shadow: none;
  text-shadow: none;
  padding: 5px 10px;
  border-radius: 3px;
  border-color: #d11e23;
  transition: all 1s;
  text-decoration: none; }
  .btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus, .btn-secondary.active, .btn-secondary.disabled {
    border-color: #d11e23 !important;
    color: #fff;
    background-color: rgba(209, 30, 35, 0.7) !important;
    text-decoration: none;
    box-shadow: none;
    text-shadow: none; }

.mto-notice {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-left: 3px solid red; }

ul#adminmenu li:not(#menu-users) {
  display: none; }

.woo-nav-tab-wrapper {
  display: none; }

.user-email-wrap .updated.inline {
  display: block; }
