/** admin screens **/
.cache-clear-notice{
    padding: 10px;
    &.true{
        border:1px solid #4F8A10;
    }
    &.false{
        border:1px solid #D8000C;
    }
}

.form-table > tbody > tr.acf-tab-wrap .acf-tab-group{
    @media(max-width: 783px){
        padding: 0 5px !important;
    }
    li {
    	@media(max-width: 400px){
    		width: 100%;	
    	}
    }
}
