$padding-width: 10px;
$padding-height: 20px;
$panel-color: #F1F1F1;
$divider-color: rgba( 0, 0, 0, 0.05 );
$success-color: #00ff00;
$alert-color: #ff0000;
$disabled-color: #ccc;
$text-secondary-color: #777;
$input-border-radius: 5px;


/**
 * Forms
 */
.btn-default{
    background-color: #e61c23;
    color: #ffffff;
    height: 45px;
    margin: 1em 0 1em 0%;
    border: 2px solid #e61c23;
    border-radius: $input-border-radius;
    padding:10px;
    font-weight: bold;
    line-height: 0;
}
.athlete-list-search{
    height:45px;
    padding:5px;
}


.fighter-info-page{
    
    .label,
    .data{
        padding:0;
        display:inline-block;   
    }

    .label{
        color: inherit;
        font-size: inherit;
        width: 50%;
        display: inline-block;
        text-align: left;
        @media only screen and (max-width : 370px) {
            width:100%;
        }
    }
    .data{
        
        text-align: left;
        // display:inline-block;
        @media only screen and (max-width : 370px) {
            
        }

    }
    .fighter-info{
        padding: 0.2em 0.6em 0.3em;
        text-transform: capitalize;
        &:nth-of-type(odd){
            background-color: $panel-color;
        }
        &.description{
            background-color: transparent;
        }
        &.image{
            margin-bottom: $padding-height;
            background-color: transparent;
            padding:0;
        }
    }
    
}
.no-image{
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding-bottom:40px;
    &:before{
        content: "\f110";
        font-family: "dashicons";
        font-size: 20rem;
        display:inline-block;
        position: relative;
        top: 10rem;
        @media only screen and (min-width : 320px) and (max-width : 992px) {
            top: 6rem;
        }
    }
    &:after{
        content:"No Image";
        display:block;
        text-align: center;
        position: relative;
        top: 10rem;
        @media only screen and (min-width : 320px) and (max-width : 992px) {
            top: 3rem;
        }
    }
}

.fighter-archive-card{
    margin-bottom: $padding-height;
    border-bottom: 1px solid $divider-color;
    padding-bottom: 10px;
    .fighter-info{
        text-transform: capitalize;
    }
    .leadership-position{
        margin-bottom:0;
        padding:0;
        border:0;

    }
    .status,
    .record{
        font-size: 1.2rem;
    }
}
.filter_option option{
    text-transform: capitalize;
}
#archive-filters,
.athlete-list-search,
.fuzzy-search-wrap{
    display:inline-block;
    margin-bottom:10px;
    font-size:12px;
    * {
        vertical-align: middle;
    }
}
.athlete-info{
    text-transform: capitalize;
}
#athlete-list-table,{
    font-size:12px;
}
#athlete-list-table thead th.tbl-head{
    vertical-align: top;
    padding:5px 10px;
}
.athlete-list{
    thead{
        background-color:$panel-color;
    }
}
.athlete-list-rows td.athlete-info{
    padding:5px 10px;
}
.sort {
    padding:0;
    border-radius: 6px;
    border:none;
    display:inline-block;
    width: 100%;
    text-decoration: none;
    background:transparent;
    vertical-align: middle;
    text-align: left;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      outline:none;
    }
    &:after {
      display:inline-block;
      font-family: "dashicons";
      content:"";
      width:0;
      height:0;
    }
    &.asc:after {
        display: inline-block;
      content: "\f142";
    }
    &.desc:after {
        display: inline-block;
        content: "\f140";
    }
}

.page-template-page-members{
    .fusion-row{
        display: block !important;
    }

}

.numerical_pager{
    width: 50px;

}
.pagination-button{
    display: inline-block;
    padding:0 20px;
}
.pagination form{
    display: inline;
}

.member-stats-table,
.members-bouts-table,
.member-point-adjustments-table,
.member-rankings-table{
    margin-bottom: 40px;
    text-transform: capitalize;
    tr:nth-of-type(even){
            background-color: rgba($disabled-color,0.3);
        }
    thead > tr{
        background-color: transparent;
    }
    thead td{
        font-weight: 400;
    }
    td{
        font-weight: 200;
    }
    td:first-child{
        font-weight: 400;
    }
    &.long-table tbody td{
        font-weight: 200;
    }
    
}

.fighter-info-tables{
    table{
        font-size: 0.8rem;
        margin-bottom:40px;
        text-transform: capitalize;
        width:100%;
        tr:nth-of-type(even){
                background-color: rgba($disabled-color,0.3);
            }
        thead > tr{
            background-color: transparent;
        }
        td{
            padding:5px;
        }

    }
    caption{
        font-size: 0.9rem;
        font-weight: bold;
        padding-bottom: 0.8rem;
        text-transform: uppercase;
        color:#000;
        caption-side: top;
        text-align: center;
        @media (max-width: 700px){
            text-align: left;
        }
    }
    color:$text-secondary-color;
}
.bout-result{
    color: darken($text-secondary-color, 50%);
    &:before{
        content: "\2022";
        display: inline-block;
        margin-right: 3px;  
        vertical-align: bottom;
        font-size: 2em;
        line-height: 1;
        padding:0;
    }
    &.win:before, &.W:before{
        color: rgba($success-color,0.5);
        
    }
    &.loss:before, &.L:before{
        color: rgba($alert-color,0.5);
    }
    &.draw:before, &.D:before{
        color: rgba($disabled-color, 0.5);
    }
}
.member-stats-table .outdated{
    span{
        &:before{
            content: "\2022";
            display: inline-block;
            margin-right: 3px;
            vertical-align: bottom;
            font-size: 2em;
            line-height: 1;
            padding:0;
            color: red;
        }
    }
}

#claim-profile{
    display: none;
}

.last-update{
    float:right;
    font-size:10px;
}

.msg-success{
    padding:10px;
    border:1px solid #489f48;
    background: lighten(#489f48, 10%);
    color:#fff;
    margin:20px 0;
    p{
        margin:0;
    }
}

.flush{
    padding-left:0 !important;
    padding-right: 0 !important;
}
.trim div{
    padding-left:0 !important;
    padding-right: 0 !important;   
}

.hidden{
    display:none;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }

@media (max-width: 480px){
    #archive-filters select{
        width: 100%;
    }
    .fuzzy-search-wrap{
        text-align: left;
        input, button{
            width: 100%;

        }
    }
}