/**
 * Forms
 */
.btn-default {
  background-color: #e61c23;
  color: #ffffff;
  height: 45px;
  margin: 1em 0 1em 0%;
  border: 2px solid #e61c23;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  line-height: 0; }

.athlete-list-search {
  height: 45px;
  padding: 5px; }

.fighter-info-page .label,
.fighter-info-page .data {
  padding: 0;
  display: inline-block; }

.fighter-info-page .label {
  color: inherit;
  font-size: inherit;
  width: 50%;
  display: inline-block;
  text-align: left; }
  @media only screen and (max-width: 370px) {
    .fighter-info-page .label {
      width: 100%; } }

.fighter-info-page .data {
  text-align: left; }

.fighter-info-page .fighter-info {
  padding: 0.2em 0.6em 0.3em;
  text-transform: capitalize; }
  .fighter-info-page .fighter-info:nth-of-type(odd) {
    background-color: #F1F1F1; }
  .fighter-info-page .fighter-info.description {
    background-color: transparent; }
  .fighter-info-page .fighter-info.image {
    margin-bottom: 20px;
    background-color: transparent;
    padding: 0; }

.no-image {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 40px; }
  .no-image:before {
    content: "\f110";
    font-family: "dashicons";
    font-size: 20rem;
    display: inline-block;
    position: relative;
    top: 10rem; }
    @media only screen and (min-width: 320px) and (max-width: 992px) {
      .no-image:before {
        top: 6rem; } }
  .no-image:after {
    content: "No Image";
    display: block;
    text-align: center;
    position: relative;
    top: 10rem; }
    @media only screen and (min-width: 320px) and (max-width: 992px) {
      .no-image:after {
        top: 3rem; } }

.fighter-archive-card {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 10px; }
  .fighter-archive-card .fighter-info {
    text-transform: capitalize; }
  .fighter-archive-card .leadership-position {
    margin-bottom: 0;
    padding: 0;
    border: 0; }
  .fighter-archive-card .status,
  .fighter-archive-card .record {
    font-size: 1.2rem; }

.filter_option option {
  text-transform: capitalize; }

#archive-filters,
.athlete-list-search,
.fuzzy-search-wrap {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 12px; }
  #archive-filters *,
  .athlete-list-search *,
  .fuzzy-search-wrap * {
    vertical-align: middle; }

.athlete-info {
  text-transform: capitalize; }

#athlete-list-table {
  font-size: 12px; }

#athlete-list-table thead th.tbl-head {
  vertical-align: top;
  padding: 5px 10px; }

.athlete-list thead {
  background-color: #F1F1F1; }

.athlete-list-rows td.athlete-info {
  padding: 5px 10px; }

.sort {
  padding: 0;
  border-radius: 6px;
  border: none;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  background: transparent;
  vertical-align: middle;
  text-align: left; }
  .sort:hover {
    text-decoration: none; }
  .sort:focus {
    outline: none; }
  .sort:after {
    display: inline-block;
    font-family: "dashicons";
    content: "";
    width: 0;
    height: 0; }
  .sort.asc:after {
    display: inline-block;
    content: "\f142"; }
  .sort.desc:after {
    display: inline-block;
    content: "\f140"; }

.numerical_pager {
  width: 50px; }

.pagination-button {
  display: inline-block;
  padding: 0 20px; }

.pagination form {
  display: inline; }

.member-stats-table,
.members-bouts-table,
.member-point-adjustments-table,
.member-rankings-table {
  margin-bottom: 40px;
  text-transform: capitalize; }
  .member-stats-table tr:nth-of-type(even),
  .members-bouts-table tr:nth-of-type(even),
  .member-point-adjustments-table tr:nth-of-type(even),
  .member-rankings-table tr:nth-of-type(even) {
    background-color: rgba(204, 204, 204, 0.3); }
  .member-stats-table thead > tr,
  .members-bouts-table thead > tr,
  .member-point-adjustments-table thead > tr,
  .member-rankings-table thead > tr {
    background-color: transparent; }
  .member-stats-table thead td,
  .members-bouts-table thead td,
  .member-point-adjustments-table thead td,
  .member-rankings-table thead td {
    font-weight: 400; }
  .member-stats-table td,
  .members-bouts-table td,
  .member-point-adjustments-table td,
  .member-rankings-table td {
    font-weight: 200; }
  .member-stats-table td:first-child,
  .members-bouts-table td:first-child,
  .member-point-adjustments-table td:first-child,
  .member-rankings-table td:first-child {
    font-weight: 400; }
  .member-stats-table.long-table tbody td,
  .members-bouts-table.long-table tbody td,
  .member-point-adjustments-table.long-table tbody td,
  .member-rankings-table.long-table tbody td {
    font-weight: 200; }

.fighter-info-tables {
  color: #777; }
  .fighter-info-tables table {
    font-size: 0.8rem;
    margin-bottom: 40px;
    text-transform: capitalize;
    width: 100%; }
    .fighter-info-tables table tr:nth-of-type(even) {
      background-color: rgba(204, 204, 204, 0.3); }
    .fighter-info-tables table thead > tr {
      background-color: transparent; }
    .fighter-info-tables table td {
      padding: 5px; }
  .fighter-info-tables caption {
    font-size: 0.9rem;
    font-weight: bold;
    padding-bottom: 0.8rem;
    text-transform: uppercase;
    color: #000; }

.bout-result {
  color: black; }
  .bout-result.Won {
    background-color: rgba(0, 255, 0, 0.5); }
  .bout-result.Loss {
    background-color: rgba(255, 0, 0, 0.5); }
  .bout-result.Draw {
    background-color: rgba(204, 204, 204, 0.5); }

#claim-profile {
  display: none; }

.last-update {
  float: right;
  font-size: 10px; }

.msg-success {
  padding: 10px;
  border: 1px solid #489f48;
  background: #62b862;
  color: #fff;
  margin: 20px 0; }
  .msg-success p {
    margin: 0; }

.flush {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.trim div {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.hidden {
  display: none; }

.disabledbutton {
  pointer-events: none;
  opacity: 0.4; }

.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  zoom: 1; }

@media (max-width: 480px) {
  #archive-filters select {
    width: 100%; }
  .fuzzy-search-wrap {
    text-align: left; }
    .fuzzy-search-wrap input, .fuzzy-search-wrap button {
      width: 100%; } }
