#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap{
	background-color: #d11e23;
	a:hover{
		color:#fff;
	}
	.wp-submenu-head,
	.wp-menu-arrow,
	.wp-menu-arrow div,
	li.current a.menu-top,
	li.wp-has-current-submenu a.wp-has-current-submenu,
	.folded li.current.menu-top,
	.folded li.wp-has-current-submenu{
		background-color:#2c2d2f;
	}
}

#collapse-button{
	color:#fff;
	&:hover{
		color:#fff;
	}
}



.wp-core-ui .button-primary{
	background-color: #d11e23;
	color: #ffffff;
	box-shadow: none;
	text-shadow: none;
	border-color:#d11e23;
	transition: all 1s;
	&:hover, &:active, &:focus, &.active, &.disabled{
		border-color:#d11e23 !important;
		background-color: rgba(#d11e23, 0.7) !important;

		box-shadow: none;
		text-shadow: none;
	}
	&.disabled{
		color: lighten(#fff,0.5) !important;
	}
}

[data-name='fc_contests_outside_mto'],
[data-name='lc_contests_outside_mto']{
	.acf-row-handle{
		display:none;
	}

}

.member-admin-bar{
	text-align:right;
	padding:0 15px;
	@media screen and (max-width: 600px) {
		padding-top:15px;
	}

}
.btn-secondary{
	background-color: #d11e23;
	color: #ffffff;
	box-shadow: none;
	text-shadow: none;
	padding: 5px 10px;
	border-radius: 3px;
	border-color:#d11e23;
	transition: all 1s;
	text-decoration: none;
	&:hover, &:active, &:focus, &.active, &.disabled{
		border-color:#d11e23 !important;
		color: #fff;
		background-color: rgba(#d11e23, 0.7) !important;
		text-decoration: none;
		box-shadow: none;
		text-shadow: none;
	}
}

.mto-notice{
	background-color: rgba(#fff, 0.8);
	padding: 10px;
	border-left: 3px solid red;
}

// kluge. Hide all menus from the sidebar that are not the user profile menu
ul#adminmenu li:not(#menu-users){
	display:none;
}

// kluge. Hides the woocommerce "customer data" tab on the member profile page
.woo-nav-tab-wrapper{
	display: none;
}


.user-email-wrap .updated.inline{
	display:block;
}